.container.container-top-nav {
    max-width: 100% !important;
}
.dropdown-menu {
    border-radius: 0;
}
#footer .footer-content .widget ul.list > li.menu-icon {
    padding: 20px 0 0 0;
}
#footer .footer-content .widget ul.list > li.menu-icon > a > i {
    margin-right: 10px;
}
.fullscreen.home {
    min-height: 70vh;
    transition: all .7s;

}
.fullscreen.home:hover {
    cursor: pointer;
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

#page-title.internals {
    min-height: 30vh;
    display: flex;
    align-items: center;
    padding: 0 0 40px 0;
}
#page-title.clientcenter-internals {
    min-height: 20vh;
    display: flex;
    align-items: center;
    padding: 0 0 40px 0;
}
#page-title.privacy-terms {
    clear: both;
    padding: 80px 0;
    background-color: #e05206;
    position: relative;
}
.footer-socials {
    font-size: 16px !important;
    padding: 8px 10px !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
}
a.btn.btn-faceb:hover {
    background-color: #3b5998 !important;
    color: #ffffff !important;
    border-color: #3b5998 !important;
}
a.btn.btn-twit:hover {
    background-color: #00aced !important;
    color: #ffffff !important;
    border-color: #00aced !important;
}
a.btn.btn-linke:hover {
    background-color: #007bb6 !important;
    color: #ffffff !important;
    border-color: #007bb6 !important;
}
a.btn.btn-instag:hover {
    background-color: #ff0084 !important;
    color: #ffffff !important;
    border-color: #ff0084 !important;
}
.form-control-modal {
    padding-top: 20px;
}
.form-control-home {
    padding: 0;
}
.form-input-home {
    background-color: #f9f8f8;
    border-radius: 35px;
    color: #54575a;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    margin: 5px 0 0;
    padding: 15px !important;
    min-height: 50px !important;
}
textarea.form-input-home {
    background-color: #f9f8f8;
    border-radius: 35px;
    color: #54575a;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    margin: 5px 0 0;
    padding: 15px !important;
    min-height: 50px !important;
}

/** Overlay shapes **/

.shape-1-inside-bottom {
    position: absolute;
    top: -1px;
    width: 100%;
    left: 0;
    right: 0;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}
.shape-1-inside-bottom > img {
    height: auto;
    max-width: 100%;
}
.shape-1-inside-bottom.shape-bottom {
    top: inherit;
    bottom: -1px;
}
.shape-2-outside-top {
    position: relative;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}
.shape-2-outside-top > img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.shape-2-outside-top.shape-top {
    top: 0;
    bottom: inherit;
}
.shape-3-inside-top {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}
.shape-3-inside-top > img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.shape-3-inside-top.shape-top {
    top: 0;
    bottom: inherit;
}
.round-shape {
    clip-path: circle(100% at 50% -50%);
}
.sub-header {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
}
.section-spacer-100 {
    padding: 100px 0;
}
.section-spacer-90 {
    padding: 90px 0;
}
.section-spacer-80 {
    padding: 80px 0;
}
.section-spacer-70 {
    padding: 70px 0;
}
.section-spacer-60 {
    padding: 60px 0;
}
.section-spacer-50 {
    padding: 50px 0;
}
.section-spacer-40 {
    padding: 40px 0;
}
.section-spacer-30 {
    padding: 30px 0;
}
.section-spacer-20 {
    padding: 20px 0;
}
.section-spacer-10 {
    padding: 10px 0;
}
.section-spacer-8 {
    padding: 8px 0;
}
.section-spacer-5 {
    padding: 5px 0;
}
.inside-spacer {
    display: block;
    width: 100%;
    margin: 18px auto;
    overflow: hidden;
}
.drop-shadow {
    filter: drop-shadow(0 10px 1rem silver);
}
h5.home-services > a {
    color: #e05206;
    font-size: 18px;
    line-height: 29px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
h5.home-services > a:hover, h5.home-services > a:active {
    color: #e05206 !important;
}
a.home-link {
    color: #e05206;
    font-weight: 600;
}
a.home-link:hover, a.home-link:active {
    color: #FF9900 !important;
}
.font-size-15 {
    font-size: 15px;
    line-height: 26px;
}
h2.started-modal {
    color: #e05206;
    text-align: center;
    font-weight: 300;
    font-size: 34px;
    line-height: 36px
}
.background-orange {
    background: -webkit-linear-gradient(left, rgb(255, 153, 0) 0%, rgb(224, 82, 6) 100%);
    min-width: 100%;
    width: 100%;
}
.counter.counter-numbers span {
    font-size: 90px !important;
}
.counter-desc {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.home-testimony-container {
    display: flex;
    align-items: center;
    min-height: auto;
    margin-top: 20px;
}
h4.home-testimony-h4 {
    color: #e05206;
    font-size: 30px;
    font-weight: 700;
}
p.home-testimony-text {
    font-size: 20px;
    font-weight: 700;
}
h4.home-testimony-modal {
    color: #54575a;
    font-size: 27px;
    line-height: 30px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.54px;
    margin-bottom: 40px;
}
.list-icon.dots li:before {
    font-size: 8px !important;
    margin-left: -24px !important;
}
.list-icon.dots li {
    margin-bottom: 24px;
    margin-left: 20px;
}
.list-icon.dots1 li:before {
    font-size: 6px !important;
    margin-left: -24px !important;
}
.list-icon.dots1 li {
    margin-bottom: 4px;
    margin-left: 20px;
}
.list-icon.dots2 li:before {
    font-size: 8px !important;
    margin-left: -24px !important;
}
.list-icon.dots2 li {
    margin: 10px 0 20px 20px;
}
.list-icon.dots2 li > ul li:before {
    font-size: 16px !important;
    margin-left: -30px !important;
}

.list-icon.icons li:before {
    font-size: 16px !important;
    margin-left: -24px !important;
}
.list-icon.icons li {
    margin-bottom: 24px;
    margin-left: 20px;
}
a.peo-services p {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}
a:hover.peo-services p {
    color: #e05206 !important;
}

a.peo-services img {
    transform: scale(1);
}

a.peo-services:hover img {
    transform: scale(1.3);
}
.icon-box.text-center, .icon-box.center {
    padding: 0;
    text-align: center;
}
.icon-box {
    margin-bottom: 30px;
    position: relative;
}
.icon-box.text-center .icon, .icon-box.center .icon {
    margin: 0 auto 6px;
    position: relative;
}
.icon-box.large > h3 {
    margin: 0 12px 10px 110px;
    font-size: 18px;
}
.icon-box.center h3 {
    margin: 0 0 10px 0;
    color: #373737;
}
.icon-box.large .icon {
    height: auto;
    width: 86px;
}
.icon-box.large .icon i {
    font-size: 44px;
    line-height: 64px;
}
.icon-box .icon i {
    color: #e05206;
}

div.icon-box1:before {
    display: none !important;
}

.icon-box1 {
    margin-bottom: 0;
    position: relative;
}

.icon-box1 .icon {
    height: auto;
    position: absolute;
    width: auto;
}

.icon-box1 .icon i {
    font-size: 30px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
}

.icon-box1 .icon i.contact {
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}

.icon-box1 .icon a,
.icon-box1 .icon i {
    width: 100%;
    height: 100%;
    color: #e05206;
}

.icon-box1 h3,
.icon-box1 h5 {
    margin: 0 12px 10px 83px;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
}

.icon-box1 p {
    margin: 0 0 20px 83px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.icon-box1-description > p {
    margin-bottom: 20px;
}

.icon-box1.effect .icon i {
    z-index: 1;
}

.icon-box1.effect .icon i:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
}

.icon-box1 .icon i {
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}

.icon-box1 .icon i:after {
    top: -4px;
    left: -4px;
    padding: 4px;
    box-shadow: 0 0 0 3px #333;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}

.icon-box1.effect.dark .icon i:after {
    box-shadow: 0 0 0 3px #2250fc;
}

.icon-box1.effect.dark .icon i:hover, .icon-box1.effect.dark:hover .icon i {
    background-color: #2250fc;
}

.icon-box1.effect .icon i:hover:after, .icon-box1.effect:hover .icon i:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.image-box .image-box-content p i.fa.fa-play {
    padding-left: 3px;
}

.icon-box1.small .icon {
    height: 46px;
    width: 46px;
}

.icon-box1.small .icon i {
    font-size: 20px;
    line-height: 47px;
}

.icon-box1.small > h3,
.icon-box1.small > h5 {
    font-size: 18px;
    margin: 0 12px 4px 60px;
}

.icon-box1.small > p {
    margin: 0 0 20px 60px;
    line-height: 1.6;
    font-size: 14px;
}

.icon-box1.medium > h3,
.icon-box1.medium > h4,
.icon-box1.medium > h5 {
    margin: 0 12px 10px 40px;
}

.icon-box1.medium > h5.contact {
    margin: 0 12px 10px 34px;
}

.icon-box1.medium > p {
    margin: 0 0 20px 84px;
}

.icon-box1.large .icon {
    height: 86px;
    width: 86px;
}

.icon-box1.large .icon i {
    font-size: 38px;
    line-height: 87px;
}

.icon-box1.large > h3,
.icon-box1.large > h5 {
    margin: 0 12px 10px 110px;
    font-size: 24px;
}

.icon-box1.large p {
    margin: 0 0 20px 110px;
}

.icon-box1.icon-box1-right {
    padding: 0;
    text-align: right;
}

.icon-box1.icon-box1-right > h3,
.icon-box1.icon-box1-right > h5 {
    margin: 0px 84px 0px 10px;
}

.icon-box1.icon-box1-right.medium > p {
    margin: 20px 84px 0px 10px;
}

.icon-box1.icon-box1-right .icon {
    right: 0;
}

.icon-box1.icon-box1-right p {
    font-size: 14px;
    margin-top: 15px;
}

.icon-box1.text-center, .icon-box1.center {
    padding: 0;
    text-align: center;
}

.icon-box1.text-center h3,
.icon-box1.text-center h5, .icon-box1.center h3,
.icon-box1.center h5 {
    margin: 0 12px 10px 0px;
}

.icon-box1.text-center p, .icon-box1.center p {
    margin: 0 0 20px 0px;
}

.icon-box1.text-center .icon, .icon-box1.center .icon {
    margin: 0 auto 22px;
    position: relative;
}

.icon-box1.text-center p, .icon-box1.center p {
    font-size: 16px;
    margin-top: 15px;
}

.icon-box1.text-center.small .icon, .icon-box1.center.small .icon {
    clear: both !important;
    position: relative !important;
}

.icon-box1.border {
    border: 0 !important;
}

.icon-box1.border .icon {
    border: 3px solid #333;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
}

.icon-box1.border .icon i {
    line-height: 56px;
}

.icon-box1.border:hover > .icon i {
    line-height: 62px;
}

.icon-box1.border:hover > .icon {
    border: 0px;
}

.icon-box1.border .icon i {
    background-color: transparent !important;
    color: #333;
}

.icon-box1.border.small .icon {
    height: 46px;
    position: absolute;
    top: 5px;
    width: 46px;
}

.icon-box1.border.small .icon i {
    font-size: 20px;
    line-height: 42px;
}

.icon-box1.border.small:hover > .icon i {
    line-height: 49px;
}

.icon-box1.border.large .icon i {
    line-height: 81px;
}

.icon-box1.border.large:hover > .icon i {
    line-height: 86px;
}

.icon-box1.square.large:hover > .icon i {
    line-height: 86px;
}

.icon-box1.square .icon, .icon-box1.square.effect .icon i:after,
.icon-box1.square .icon i {
    border-radius: 0;
}

.icon-box1.square:hover > .icon i {
    line-height: 66px;
}

.icon-box1.square.border .icon i {
    line-height: 59px;
}

.icon-box1.square.border:hover > .icon i {
    line-height: 64px;
}

.icon-box1.square.border.small .icon i {
    line-height: 41px;
}

.icon-box1.square.border.small:hover > .icon i {
    line-height: 47px;
}

.icon-box1.square.border.large .icon i {
    line-height: 78px;
}

.icon-box1.square.border:large:hover > .icon i {
    line-height: 84px;
}

.icon-box1.square.small:hover > .icon i {
    line-height: 48px;
}

.icon-box1.light .icon i:after {
    box-shadow: 0 0 0 3px #e5e5e5;
}

.icon-box1.light .icon i {
    background-color: #e5e5e5;
}

.icon-box1.light .icon i {
    color: #808080;
}

.icon-box1.light.border .icon {
    border: 3px solid #e5e5e5;
}

.icon-box1.light.border.large .icon i {
    line-height: 87px;
}

.icon-box1.light.border.large:hover > .icon i {
    line-height: 88px;
}

.icon-box1.fancy .icon i {
    background-color: transparent;
    color: #222;
    font-size: 110px;
    opacity: 0.09;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border-radius: 0px;
}

.icon-box1.fancy.small > .icon i {
    font-size: 68px;
}

.icon-box1.fancy.large .icon i {
    font-size: 120px;
}

.icon-box1.fancy.text-center .icon, .icon-box1.fancy.center .icon {
    width: auto;
    margin-bottom: 30px;
}

.icon-box1.effect.fancy .icon i:after {
    box-shadow: 0 0 0 0px transparent;
}

.icon-box1.effect.fancy:hover > .icon i {
    font-size: 110px;
}

.icon-box1.effect.fancy.small:hover > .icon i {
    font-size: 76px;
}

.icon-box1.clean .icon i {
    background-color: none;
    color: #333;
    font-size: 50px;
}

.icon-box1.clean.small .icon i {
    font-size: 36px;
}

.icon-box1.effect.clean .icon i:after {
    box-shadow: 0 0 0 0px transparent;
}

.icon-box1.process {
    border: 1px solid #888;
    margin-top: 45px;
    padding: 0 30px 10px;
    border-radius: 4px;
}

.icon-box1.process.effect .icon i:hover:after, .icon-box1.process.effect:hover .icon i::after {
    opacity: 0;
    border: 0px;
}

.icon-box1.process .icon {
    margin-top: 10px;
}

.icon-box1.process.small .icon {
    margin-top: 10px;
}

.icon-box1.box-type {
    background: #fafafa;
    border: 1px solid #ececec;
    border-radius: 4px;
    padding: 20px;
}

.icon-box1.box-type .icon {
    margin-top: 20px;
}

.line {
    clear: both;
    position: relative;
    width: 100%;
    margin: 30px 0;
    border-top: 1px solid #e3e3e3;
}

.line-icon {
    text-align: center;
    clear: both;
    position: relative;
}

.line-icon span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
}

.line-icon .outer-line {
    width: 30%;
    border-bottom: 1px solid #e05206;
}

.line-icon span.icon {
    color: #e05206;
    margin-bottom: 0;
}

.text-small {
    font-size: 12px;
    font-weight: 200;
    line-height: 20px;
}
ul.marketplace-list {
    margin-left: 30px;
}
h3.training {
    font-size: 23px;
    line-height: 35px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    color: #e05206;
}
h3.training span {
    background-color: #e05206;
    padding: 6px 10px;
    margin-right: 14px;
    border-radius: 4px;
}
h3.training span i {
    color: #ffffff;
    font-size: 22px;
}
.blockquote p {
    margin-bottom: 0;
}
.blockquote ul li {
    font-size: 14px;
}
h2.big {
    font-size: 48px;
    line-height: 48px;
    font-style: normal;
    font-weight: 700;
}
h5.big {
    font-size: 23px;
    line-height: 35px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1px;
}
h5.training-calendar {
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    color: #373737;
}
p.bottom-message {
    color: #54575a;
    font-size: 15px;
    line-height: 26px;
    font-style: normal;
    font-weight: 700;
}
p.class-full {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 26px;
}
h5.contact-sidebar {
    color: #373737;
    font-size: 18px;
    line-height: 29px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: none;
}

.sidebar.sidebar-modern.contact {
    padding-left: 20px;
    padding-right: 15px;
}

div.marketplace-extra-border {
    visibility: hidden;
}

div.marketplace-bottom-space {
    margin-top: 30px;
}

.vensure-slider .slide .slide-captions h1.referrals {
    color: #00a6b5;
    font-size: 67px;
    font-weight: 600;
    line-height: 1.3;
}

.vensure-slider .slide .slide-captions h2.referrals-subtitle {
    color: #54575B;
    font-size: 23px;
    line-height: 35px;
    font-style: normal;
    font-weight: 300;
    text-transform: none;
}

.vensure-slider .slide .slide-captions h3.referrals-text {
    color: #54575a;
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 20px;
}

.card.referrals h1,
.card.referrals h2,
.card.referrals h3,
.card.referrals h4,
.card.referrals h5,
.card.referrals h6 {
    color: #54575a !important;
    padding: 14px 0;
}

.card.referrals h4 {
    color: #e05206 !important;
    padding: 10px 0;
    font-weight: 700;
    font-size: 23px;
    line-height: 35px;
    font-style: normal;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.card.referrals h6 {
    font-size: 15px;
    line-height: 26px;
    font-weight: 700;
}

.card.referrals {
    border: 1px solid #ececec;
    border-radius: 0;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 rgba(154, 161, 171, 0.4);
}

.heading-text.heading-section > h2.referrals-text {
    position: relative;
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #00a6b5;
}

.line-small {
    background-color: #e05206;
    opacity: 1;
    height: 3px;
    width: 64px;
    display: block;
    margin: 16px auto 20px;
    position: relative;
}

.line-small-light {
    background-color: #ffffff;
    opacity: 1;
    height: 2px;
    width: 22px;
    display: block;
    margin: 24px auto 0;
    position: relative;
}

.heading-text.referrals {
    margin-bottom: 20px;
}


.blockquote.referrals-testimony {
    padding: 20px 26px;
    margin: 0;
}

p.referrals-testimony {
    font-size: 16px;
    line-height: 35px;
    font-style: normal;
    font-weight: 100;
    text-transform: none;
    color: #373737;
}
.icon-box1.medium > p.referrals-testimony {
    margin: 0 0 0 40px;
}
.icon-box1 .icon i.referrals-testimony {
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    color: #00a6b5;
}
p.referrals-testimony-author {
    font-size: 15px;
    line-height: 26px;
    font-style: normal;
    font-weight: 300;
    color: #00a6b5;
    margin: 0;
    padding: 0;
}

#portals .left-side a {
    font-size: 15px;
    line-height: 26px;
    font-style: normal;
    font-weight: 300;
}

#portals .right-side {
    padding: 90px 60px;
    width: 100%;
}
#portals .right-side h2 {
    color: #54575a;
    font-size: 23px;
    line-height: 35px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
#portals .right-side .buttons-links {
    margin-bottom: 40px;
}
#portals .right-side .buttons-links a {
    width: 100%;
    display: block;
    background-color: #e05206;
    border-color: #e05206;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 10px;
    padding: 32px 20px;
}
#portals .right-side .buttons-links a:hover {
    background-color: #ff9900;
    border-color: #ff9900;
}

#portals .left-side {
    padding: 90px 60px;
}
#portals .left-side h1 {
    color: #373737;
    font-size: 28px;
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: none;
}

#privacy-terms h4.under {
    text-decoration: underline;
}
#privacy-terms ul li {
    margin-left: 18px;
}

#terms-of-use p.under {
    text-decoration: underline;
}
#terms-of-use .italic {
    font-style: italic;
}
#terms-of-use ul li {
    margin-left: 18px;
}
#terms-of-use ol {
    margin-bottom: .1rem;
    margin-top: 2rem;
}

#client-center.internals {
    padding: 40px 0 80px 0;
}

#client-center h2 {
    color: #54575a;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
}

#client-center h4 {
    color: #54575a;
    font-size: 35px;
    font-weight: 700;
    line-height: 30px;
}
#client-center table tbody tr td a i {
    font-size: 16px;
    color: #e05206;
}
#client-center .table-striped tbody tr:nth-of-type(even) {
    background-color: #f5f5f5;
}
#client-center .table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}
#client-center .table-striped td, .table-striped th {
    padding: 6px .75rem;
    vertical-align: top;
    border-top: 0;
    border-right: 1px solid #f5f5f5;
}
#client-center .table-striped td:first-child {
    border-left: 1px solid #f5f5f5;
}

/** popup HR download **/
.popup-hr-download {
    background-color: #ffffff;
    bottom: 0;
    color: #54575a;
    left: 0;
    padding: 10px 16px 16px 16px;
    position: fixed;
    width: 360px;
    display: inline-block;
    transform: translate3d(0, 200px, 0);
    transition: all 0.7s ease 0s;
    z-index: 999 !important;
    font-size: 15px;
    line-height: 26px;
    border-top-right-radius: 6px;
    border: 1px solid #e7e7e7;
    visibility: hidden;
}

.popup-hr-download .pum-close {
    height: 24px;
    width: 24px;
    padding: 0;
    color: #ffffff;
    font-family: inherit;
    font-weight: 100;
    font-size: 18px;
    line-height: 18px;
    border: 1px none #ffffff;
    border-radius: 94px;
    box-shadow: rgba( 55, 55, 55, 0.23 );
    text-shadow: 0 0 0 rgba( 55, 55, 55, 0.23 );
    background-color: #e05206;
    cursor: pointer;
}

.popup-hr-download img {
    width: auto;
    height: 100px;
}

.popup-hr-download button.hr-button {
    width: 100%;
}

.hr-popup-no-visibility {
    display: none !important;
}

h4.free-diagnostic {
    color: #e05206;
    font-size: 32px;
    line-height: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: none;
}
.no-display {
    display: none;
}

#outline-thin {
    border: 1px solid #dddddd;
}
.font-size-16{
    font-size: 16px;
}
@media (min-width: 320px) {
    .col-lg-3.xs-spacer {
        margin-bottom: 80px;
    }
    .line-icon .outer-line {
        width: 40%;
    }
}
@media (min-width: 576px) {
    #client-center table thead tr th.col-sm-8.text-center,
    #client-center table tbody tr td.col-sm-8.text-center {
        text-align: left !important;
    }
}
@media (min-width: 768px) {
    .h-md-100 {
        height: 100vh;
    }
    div.marketplace-extra-border {
        visibility: visible;
        width: 100%;
        height: calc(100% - 320px);
        border-right: 2px solid #ff9900;
    }
    div.marketplace-bottom-space {
        margin-top: 0;
    }
    #portals .left-side h1 {
        font-size: 48px;
        line-height: 48px;
    }
}
@media (max-width: 1024px) {
    .vensure-slider .slide .slide-captions h1.referrals {
        font-size: 40px;
        font-weight: 600;
        line-height: 1.1;
    }
    .vensure-slider .slide .slide-captions h2.referrals {
        font-size: 16px;
        line-height: 20;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1300px !important;
    }
    .container-wider.container-numbers {
        padding-top: 100px;
        padding-bottom: 120px;
    }
    .home-testimony-container {
        min-height: 430px;
        margin-top: 0;
    }
    #page-title.internals {
        min-height: 70vh;
        padding: 0 0 0px 0;
    }
    #page-title.free-diagnostic {
        min-height: 30vh;
        padding: 0;
    }
    #page-title.clientcenter-internals {
        min-height: 35vh;
        padding: 0 0 40px 0;
    }
    .popup-hr-download {
        visibility: hidden;
    }
}
